{% extends "base.html" %}
  {% block title %} Index {% endblock %}
  {% block head %}
      {{ super() }}
      <style type="text/css">
          .important { color: #336699; }
      </style>
  {% endblock %}
  {% block content %}
      <h1>Contact</h1>
      <!--
      <p class="important">
        Welcome to my awesome homepage.
      </p>
    -->
      <p> Curious to learn more about me? 
        Check out my 
        <a href = "https://www.linkedin.com/in/maya-mitrasinovic-99a394152/">LinkedIn </a> , or my 
        <a href = "https://www.instagram.com/mayamitra/">Instagram </a> , if that's more your stye. 
        You can also shoot me an email at mayamitrasinovic@gmail.com 
      </p>
  {% endblock %}