{% extends "base.html" %}
  {% block title %} Index {% endblock %}
  {% block head %}
      {{ super() }}
      <style type="text/css">
          .important { color: #336699; }
      </style>
  {% endblock %}
  {% block content %}

 <h1 style = "font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
        <center>CONTACT</center>
      </h1>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <!-- <h1 class="display-4">
        <center> Contact</center>
      </h1> -->
      <p class="lead">
          Curious to learn more about me? 
          Check out my 
          <a href = "https://www.linkedin.com/in/maya-mitrasinovic-99a394152/">LinkedIn </a> , or my 
          <a href = "https://www.instagram.com/mayamitra/">Instagram </a> , if that's more your stye. 
          You can also shoot me an email at mayamitrasinovic@gmail.com </p>
    </div>
  </div>

      <!-- <h1>
        <center>Contact</center>
      </h1>

      <p> Curious to learn more about me? 
        Check out my 
        <a href = "https://www.linkedin.com/in/maya-mitrasinovic-99a394152/">LinkedIn </a> , or my 
        <a href = "https://www.instagram.com/mayamitra/">Instagram </a> , if that's more your stye. 
        You can also shoot me an email at mayamitrasinovic@gmail.com 
      </p>
  {% endblock %} -->