  {% extends "base.html" %}
  {% block title %} Index {% endblock %}
  {% block head %}
      {{ super() }}
      <style type="text/css">
          .important { color: #336699; }
      </style>
  {% endblock %}
  {% block content %}
      <h1 style = "font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-style:italic;">
          <center>
                <font size="+5"> MAYA MITRASINOVIC </font>
                <br>

            </center>
        </h1>

    <!-- <img src = "https://github.com/mayamitra/python/blob/master/000254280005.jpg?raw=true" /> -->
    <center> 
    <img src = "https://github.com/mayamitra/python/blob/master/mayamitra.jpg?raw=true" />
    </center>

  {% endblock %}


  