<h1> About Me </h1>
<p> My name is Maya Mitrasinovic, and I'm a 19 year old from Brooklyn, New York. Last year I graduated from Stuyvesant High School, and right now I'm on a gap year before attending the University of Chicago in Fall 2019.

        This year, I'm taking classes at The New School, as well as working as an administrative and teaching assistant at Writopia Lab and as a bookseller at McNally Jackson Books.
        
        To learn more about me, you can look at my LinkedIn, or my Instagram, if that's more your stye.</p>

<img src = "https://cdn.vox-cdn.com/thumbor/KxFbDMBiy5r2c5pLrn_XrHreSec=/0x0:600x350/1820x1213/filters:focal(252x127:348x223):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63402414/A_Consensus_sm.0.jpg" />

