{% extends "base.html" %}

{% load wagtailcore_tags %}

  {% block content %}

  <h1 style = "font-family: Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-style:italic;">
        <center>
                <font size="+4"> CONTACT </font>
            </center>
      </h1>

    <div class="container">
      <p class="lead">
        {{ page.body|richtext }}

        <form>
                <div class="form-group">
                        <label for="exampleFormControlTextarea1">Name</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Jane Doe" rows="1"></textarea>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">What's up?</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Hey Maya! " rows="3"></textarea>
                </div>
              </form>


    </div>



  {% endblock %}